<?xml version="1.0" encoding="UTF-8"?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.wlu.wildfeast"
        version   = "1.0.1">

    <!-- versionCode is optional and Android only -->
    <!-- -->
    <preference name="phonegap-version" value="3.0.0" />

    <name>Wild Feast</name>
    <author>Stefan Panait</author>
    <description>
        Snake style game for mobile.
    </description>

    <author email="stefanapanait@gmail.com">
        Stefan Panait
    </author>

    <icon src="icon.png" />
</widget>
